-extends "base.haml"
-load coffeescript

-block content
  -verbatim
    %div{ng-controller: "InspirationController"}
      .panel.panel-default
        .panel-heading
          %b Available inspirations
          %button.btn.btn-sm.btn-primary{ng-click: "addNewInspiration()"}
            add new inspiration
        %ul.list-group{ng-repeat: "inspiration in inspirations"}
          %li.list-group-item{id: "{{ inspiration.id }}", ng-hide: "inspiration.editing", ng-click: "setEditingMode(inspiration)"}= inspiration.name
          %li.list-group-item{id: "{{ inspiration.id }}", ng-show: "inspiration.editing"}
            %form{ng-submit: "editInspiration(inspiration)"}
              %input{id: "input-name-{{ inspiration.id }}", type: "text", ng-model: "inspiration.name", ng-blur: "inspiration.editing = false"}


  %script
    -inlinecoffeescript
      window.InspirationController = ($scope, $http) ->
        $scope.inspirations = []
        $http.get("inspiration/list/").success (data) ->
          $scope.inspirations = data

        $scope.editInspiration = (inspiration, newName) ->
          inspiration.editing = false
          $http.post("inspiration/add/", inspiration).success (data) ->
            inspiration.id = data

        $scope.addNewInspiration = ->
          $scope.inspirations.push
            name: ""
            editing: true
            id: 0

          setFocus = -> document.getElementById("input-name-0").focus()

          setTimeout(setFocus, 100)

        $scope.setEditingMode = (inspiration) ->
          inspiration.editing = true
          setFocus = ->
            element = document.getElementById("input-name-" + inspiration.id)
            element.focus()
            save_value = element.value
            element.value = ""
            element.value = save_value
          setTimeout(setFocus, 50)
