-extends "base.haml"

-block content
  -verbatim
    %div{ng-controller: "InspirationController"}
      .panel.panel-default
        .panel-heading
          %b Available inspirations
          %button.btn.btn-sm.btn-primary{ng-click: "addNewInspiration()"}
            add new inspiration
        %ul.list-group{ng-repeat: "inspiration in inspirations"}
          %li.list-group-item{ng-hide: "inspiration.editing"}= inspiration.name
          %li.list-group-item{ng-show: "inspiration.editing"}
            %form{ng-submit: "editInspiration(inspiration, newName)"}
              %input{type: "text", ng-model: "newName"}


  :javascript
    function InspirationController($scope, $http) {
      $scope.inspirations = [];
      $http.get("inspiration/list/").success(function(data) {
        $scope.inspirations = data;
      });

      $scope.editInspiration = function(inspiration, newName) {
        inspiration.editing = false;
        inspiration.name = newName;
      }

      $scope.addNewInspiration = function() {
        $scope.inspirations.push({name: "", editing: true});
      };
    }
