-extends "base.haml"

-block content
  -verbatim
    %div{ng-controller: "InspirationController"}
      .panel.panel-default
        .panel-heading
          %b Available inspirations
          %button.btn.btn-sm.btn-primary{ng-click: "addNewInspiration()"}
            add new inspiration
        %ul.list-group{ng-repeat: "inspiration in inspirations"}
          %li.list-group-item{ng-hide: "inspiration.editing"}= inspiration.title
          %li.list-group-item{ng-show: "inspiration.editing"}
            %form{ng-submit: "editInspiration(inspiration, newTitle)"}
              %input{type: "text", ng-model: "newTitle"}


  :javascript
    function InspirationController($scope) {
      $scope.inspirations = [
        {title: "a", editing: false},
        {title: "b", editing: false},
        {title: "c", editing: false}
      ];

      $scope.editInspiration = function(inspiration, newTitle) {
        inspiration.editing = false;
        inspiration.title = newTitle;
      }

      $scope.addNewInspiration = function() {
        $scope.inspirations.push({title: "", editing: true});
      };
    }
