-extends "base.haml"
-load coffeescript

-block content
  -verbatim
    %div{ng-controller: "InspirationController"}
      .panel.panel-default
        .panel-heading
          %b Available inspirations
          %button.btn.btn-xs.btn-primary{ng-click: "addNewInspiration()"}
            add new inspiration
        %ul.list-group{ng-repeat: "inspiration in inspirations"}
          %li.list-group-item{id: "{{ inspiration.id }}", ng-hide: "inspiration.editing", ng-mouseover: "inspiration.showOptions = true", ng-mouseleave: "inspiration.showOptions = false"}= inspiration.name
            %span.options{ng-show: "inspiration.showOptions"}
              %button.btn.btn-xs{ng-click: "setEditingMode(inspiration)"} edit
          %li.list-group-item{id: "{{ inspiration.id }}", ng-show: "inspiration.editing"}
            %form{ng-submit: "editInspiration(inspiration)"}
              %input{id: "input-name-{{ inspiration.id }}", type: "text", ng-model: "inspiration.name", ng-blur: "stopEditing(inspiration)"}


  :css
    span.options button {
      padding-top: 0;
      padding-bottom: 0;
      border-top-width: 0;
      border-bottom-width: 0;
      margin-left: 10px;
    }

-block javascript
  %script
    -inlinecoffeescript
      window.InspirationController = ($scope, $http) ->
        $scope.inspirations = []
        $http.get("inspiration/list/").success (data) ->
          $scope.inspirations = data

        $scope.editInspiration = (inspiration, newName) ->
          inspiration.editing = false
          if inspiration.name.length != 0
            $http.post("inspiration/add/", inspiration).success (data) ->
              inspiration.id = data

        $scope.stopEditing = (inspiration) ->
          inspiration.editing = false
          if inspiration.name.length == 0 && inspiration.id == 0
            remove($scope.inspirations, inspiration)

        $scope.addNewInspiration = ->
          $scope.inspirations.push
            name: ""
            editing: true
            id: 0

          setFocus = -> document.getElementById("input-name-0").focus()

          setTimeout(setFocus, 100)

        $scope.setEditingMode = (inspiration) ->
          inspiration.editing = true
          setFocus = ->
            element = document.getElementById("input-name-" + inspiration.id)
            element.focus()
            save_value = element.value
            element.value = ""
            element.value = save_value
          setTimeout(setFocus, 50)
